<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PHP文件上传</title>
	<script type="javascript" src="../static/js/jquery-1.11.1.min.js"></script>
	<script type="javascript" src="../static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
</head>
<body>

<div class="col-sm-4 col-sm-offset-4" style="margin-top: 100px">
	<div class="panel panel-primary">
		<div class="panel-heading">PHP多文件上传-独立名称</div>
		<div class="panel-body">
			<form role="form" action="index.php?action=upload" method="post" enctype="multipart/form-data">
				<input type="hidden" name="type" value="single">
				
				<div class="form-group">alpha<input class="form-control" name="alpha" type="file"></div>
				<div class="form-group">beta<input class="form-control" name="beta" type="file"></div>
				<div class="form-group">gamma<input class="form-control" name="gamma" type="file"></div>
				
				<div class="form-gruop"><input class="btn btn-primary" type="submit" value="上传文件"></div>
			</form>
		</div>
	</div>
</div>

</body>
</html>